/*DOCUMENTO CSS*/
header { text-align: center;
    font-family: 'Inter Tight', sans-serif; 
font-size: xx-large;font-weight: 600; }

.container { display: flex;
             width: 70%;
            min-height: 1px;
            margin: auto; }

.item1 { width: 33.33%; 
padding: 1%;}

img { width: 100%;
        max-height: 400px; 
        object-fit: cover;}


.h1 { font-family: 'Inter Tight', sans-serif; }
p { font-family: 'Inter Tight', sans-serif;
    text-align: justify; }
    